body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

.container {
  background: white;
  padding: 20px;
  margin: 20px auto;
  width: 350px;
  border-radius: 12px;
}

/* ROLETKY */
.day {
  border: 1px solid #ddd;
  margin: 10px 0;
  border-radius: 8px;
}

.day-header {
  background: #4CAF50;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.day-content {
  display: none;
  padding: 10px;
}

/* BUTTON */
button {
  padding: 10px;
  margin: 5px;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
}
